*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
    background-color:#212121;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
header h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}
header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.container {
    
    margin: 30px auto;
    width: 957px;
    color: #ffffff;
}

.agreET
{
   border-radius: 20px 20px 0px 0px;
   -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border: 0px;
    color: white;
    background: #eb741a;
    width: 50%;
    margin-left: 250px;
    height: 70px;
}
#re
{
    font: 200% sans-serif;
     font-family: fantasy;
     text-align: center;
     margin-top: 15px;
}

.contenido
{
    border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    border: 0px;
    width: 50%;
    margin-left: 250px;
    margin-top: 10px;
    background: #e3e2df;
    text-align: center;
}
#texto
{
    color: black;
}

.error
{
    font: 2px;
    color: red;
}

#escudo
{
    margin-left: 630px;
    margin-top: 40px;
    
}

.agreER
{
    border-radius: 20px 20px 0px 0px;
   -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border: 0px;
    color: white;
    background: #eb741a;
    width: 50%;
    margin-left: 250px;
    height: 50px;
}

.btn
{
    margin: 10px;
    margin-bottom: 20px;
}

.fin
{
   padding:20px;
   
}

.btn {
  background: #eb741a;
  background-image: -webkit-linear-gradient(top, #eb741a, #eb741a);
  background-image: -moz-linear-gradient(top, #eb741a, #eb741a);
  background-image: -ms-linear-gradient(top, #eb741a, #eb741a);
  background-image: -o-linear-gradient(top, #eb741a, #eb741a);
  background-image: linear-gradient(to bottom, #eb741a, #eb741a);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 9px 16px 9px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#to
{
    background: #ff321f;
    border: 3px solid; 
}