/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/09/2016, 02:01:11 AM
    Author     : juan
*/

.tp
{
    background: #99ff99;
}

.to
{
    background-color: red;
}
